#app {
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input {
    width: 60px;
}